/* styles.css */

/* Base */
@import "base/base.css";
@import "base/typography.css";

/* Layout */
@import "layout/navbar.css";
@import "layout/hero.css";
@import "layout/sections.css";
@import "layout/footer.css";
@import "layout/conclusion.css";

/* Components */
@import "components/buttons.css";
@import "components/cards.css";
@import "components/social.css";

/* Media Queries */
@import "media-queries.css";