/* =========================
   CARD SYSTEM
========================= */
.story-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
    justify-content: flex-start;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(0.625rem);
    border: 0.0625rem solid rgba(255, 255, 255, 0.15);
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

.popular-card {
    padding: 2rem;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(0.625rem);
    border: 0.0625rem solid rgba(255, 255, 255, 0.15);
    transition: transform 0.35s ease;
}

.popular-elements,
.story-elements {
    padding-inline: 4rem; /* 64px */
}
.protagonists-elements,
.antagonists-elements {
    padding-inline: 4rem; /* 64px */
}

.popular-card:hover,
.story-card:hover {
    box-shadow: 0 0 1.875rem rgba(255, 60, 60, 0.8);
    transform: translateY(-1.875rem);
}

#arc-one-card:hover {
    box-shadow: 0 0 1.875rem rgba(255, 60, 60, 0.8);
    color: rgba(255, 60, 60, 0.7);
}

#arc-two-card:hover {
    box-shadow: 0 0 1.875rem rgba(60, 138, 255, 0.8);
    color: rgba(60, 138, 255, 0.7);
}

#arc-ten-card:hover {
    box-shadow: 0 0 1.875rem rgba(115, 60, 255, 0.8);
    color: rgba(115, 60, 255, 0.7);
}

.popular-card img {
    width: auto;
    max-width: 100%;
    border-radius: 0.75rem;
    margin-bottom: 1.5rem;
}

.popular-card ol {
    padding-left: 1.25rem;
}

.popular-card h3 {
    margin-bottom: 0.75rem;
}

/* =========================
   CHARACTER CARDS
========================= */
.protagonists-card,
.antagonists-card {
    text-align: center;
    max-width: 21.875rem;
}

.protagonists-card img,
.antagonists-card img {
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 50%;
    object-fit: cover;
    border: 0.25rem solid #ff3b3b;
    margin-bottom: 1.5rem;
    transition: all 0.3s ease;
}

.protagonists-card img:hover,
.antagonists-card img:hover {
    box-shadow: 0 0 0.9375rem rgba(255, 60, 60, 0.7);
    transform: translateY(-0.9375rem);
}

/* =========================
   STORY ARCS
========================= */
.story-card img {
    width: auto;
    height: auto;
    max-width: 90%;
    border-radius: 0.75rem;
    margin-bottom: 1.5rem;
}

.story-card h2,
.story-card h3 {
    text-align: center;
}
