/* =========================
   SOCIAL PROOF
========================= */
.social {
    margin: 0 0;
}

.social-elements {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.social-boxes {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.social i {
    font-size: 1.375rem;
}
