/* =========================
   CONCLUSION
========================= */
.conclusion-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.conclusion h1 {
    margin-bottom: 2rem;
}

.conclusion-text {
    max-width: 67.5rem;
    text-align: center;
}
