/* =========================
   CONCLUSION
========================= */
.conclusion-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.conclusion h1 {
    margin-bottom: 32px;
}

.conclusion-text {
    max-width: 1080px;
    text-align: center;
}