/* =========================
   FOOTER
========================= */
.footer {
    margin-top: 7.5rem;
    border-top: 0.0625rem solid rgba(255, 255, 255, 0.15);
}

.footer p {
    padding: 2rem;
    text-align: center;
    font-size: 0.875rem;
    opacity: 0.7;
}
