/* =========================
   FOOTER
========================= */
.footer {
    margin-top: 120px;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.footer p {
    padding: 32px;
    text-align: center;
    font-size: 14px;
    opacity: 0.7;
}
