/* =========================
   HERO
========================= */
.hero {
    min-height: 100svh;
    padding-block: clamp(4.5rem, 10vw, 10rem);
    padding-inline: clamp(1rem, 6vw, 4rem);
}

.hero-content {
    max-width: 75rem;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.hero-content p {
    max-width: 45rem;
}

.hero-content h1 {
    margin-top: 3.375rem;
    margin-bottom: 0;
}

.hero-content span {
    background: linear-gradient(135deg, #ff3b3b, #ba000c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-content img {
    width: 100%;
    max-width: 75rem;
    border-radius: 0.75rem;
}
